#root {
 width: 1440px;
  margin: 0 auto;
  /*padding: 2rem;*/
  text-align: center;
}

h1 {
  @apply text-[#2b3144] text-center m-8 text-4xl font-bold;
}

.LinkClass{
    @apply text-[#efeff1] no-underline
    mt-24 sm:mt-16 md:mt-24 lg:mt-0
    px-3 sm:px-6 md:px-8 lg:px-6 xl:px-12
    opacity-50 duration-700 hover:opacity-100 hover:scale-110;
}
.iconClass{
    @apply opacity-50  duration-700 hover:opacity-100 hover:scale-125;
}


/*.animateDrop {*/
/*    animation: slide 1s linear infinite 0s running;*/
/*}*/
@keyframes moveUpDown {
    0% {
        transform: translateY(0%);
        opacity: 0;
    }
    50% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(200%);
        opacity: 0;
    }
}

.animateDrop {
    animation: moveUpDown 1s linear infinite;
}